<a href="https://colab.research.google.com/github/a-agmon/experiments/blob/master/temp1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install s3fs

Collecting s3fs
  Downloading s3fs-2021.10.1-py3-none-any.whl (26 kB)
Collecting fsspec==2021.10.1
  Downloading fsspec-2021.10.1-py3-none-any.whl (125 kB)
     |████████████████████████████████| 125 kB 7.7 MB/s
Collecting aiobotocore~=1.4.1
  Downloading aiobotocore-1.4.2.tar.gz (52 kB)
     |████████████████████████████████| 52 kB 994 kB/s
Collecting botocore<1.20.107,>=1.20.106
  Downloading botocore-1.20.106-py2.py3-none-any.whl (7.7 MB)
     |████████████████████████████████| 7.7 MB 48.1 MB/s
Collecting aiohttp>=3.3.1
  Downloading aiohttp-3.7.4.post0-cp37-cp37m-manylinux2014_x86_64.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 31.3 MB/s
Requirement already satisfied: wrapt>=1.10.10 in /usr/local/lib/python3.7/dist-packages (from aiobotocore~=1.4.1->s3fs) (1.12.1)
Collecting aioitertools>=0.5.1
  Downloading aioitertools-0.8.0-py3-none-any.whl (21 kB)
Requirement already satisfied: typing-extensions>=3.6.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp>=3.3.1->aiobotocore~=1.4.1->s3fs) (3.7.4.3)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp>=3.3.1->aiobotocore~=1.4.1->s3fs) (21.2.0)
Requirement already satisfied: chardet<5.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp>=3.3.1->aiobotocore~=1.4.1->s3fs) (3.0.4)
Collecting multidict<7.0,>=4.5
  Downloading multidict-5.2.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (160 kB)
     |████████████████████████████████| 160 kB 65.9 MB/s
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.7.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (271 kB)
     |████████████████████████████████| 271 kB 53.4 MB/s
Collecting async-timeout<4.0,>=3.0
  Downloading async_timeout-3.0.1-py3-none-any.whl (8.2 kB)
Collecting urllib3<1.27,>=1.25.4
  Downloading urllib3-1.26.7-py2.py3-none-any.whl (138 kB)
     |████████████████████████████████| 138 kB 40.4 MB/s
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.7/dist-packages (from botocore<1.20.107,>=1.20.106->aiobotocore~=1.4.1->s3fs) (2.8.2)
Collecting jmespath<1.0.0,>=0.7.1
  Downloading jmespath-0.10.0-py2.py3-none-any.whl (24 kB)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.20.107,>=1.20.106->aiobotocore~=1.4.1->s3fs) (1.15.0)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.7/dist-packages (from yarl<2.0,>=1.0->aiohttp>=3.3.1->aiobotocore~=1.4.1->s3fs) (2.10)
Building wheels for collected packages: aiobotocore
  Building wheel for aiobotocore (setup.py) ... done
  Created wheel for aiobotocore: filename=aiobotocore-1.4.2-py3-none-any.whl size=49925 sha256=e74e8bbe2fb12aec95947a00e856bc4c83e640b7b8c1f63dc2858f3b02973fe3
  Stored in directory: /root/.cache/pip/wheels/33/e7/d9/b297a9aa9c43d56bc2463e6e2771655ff638f30b30f0b61fcb
Successfully built aiobotocore
Installing collected packages: multidict, yarl, urllib3, jmespath, async-timeout, botocore, aioitertools, aiohttp, fsspec, aiobotocore, s3fs
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
requests 2.23.0 requires urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1, but you have urllib3 1.26.7 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed aiobotocore-1.4.2 aiohttp-3.7.4.post0 aioitertools-0.8.0 async-timeout-3.0.1 botocore-1.20.106 fsspec-2021.10.1 jmespath-0.10.0 multidict-5.2.0 s3fs-2021.10.1 urllib3-1.26.7 yarl-1.7.0

In [3]:
#test

In [1]:
import s3fs

ModuleNotFoundError: ignored

In [ ]:
import pandas as pd

ModuleNotFoundError: ignored

In [ ]:
!wget 'https://resources.oreilly.com/binderhub/cleaning-data-at-scale/raw/master/data/nypd-motor-vehicle-collisions.csv'

--2021-10-27 14:03:27--  https://resources.oreilly.com/binderhub/cleaning-data-at-scale/raw/master/data/nypd-motor-vehicle-collisions.csv
Resolving resources.oreilly.com (resources.oreilly.com)... 199.27.144.213, 199.27.144.212
Connecting to resources.oreilly.com (resources.oreilly.com)|199.27.144.213|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 212060 (207K) [text/plain]
Saving to: ‘nypd-motor-vehicle-collisions.csv’

nypd-motor-vehicle- 100%[===================>] 207.09K   902KB/s    in 0.2s

2021-10-27 14:03:28 (902 KB/s) - ‘nypd-motor-vehicle-collisions.csv’ saved [212060/212060]

In [ ]:
!ls

nypd-motor-vehicle-collisions.csv  sample_data

In [ ]:
df = pd.read_csv('nypd-motor-vehicle-collisions.csv')

In [ ]:
df.describe()

           ZIP CODE    LATITUDE  ...  NUMBER OF MOTORIST KILLED    UNIQUE KEY
count    660.000000  925.000000  ...                      999.0  9.990000e+02
mean   10920.051515   40.722896  ...                        0.0  4.021248e+06
std      539.303739    0.076404  ...                        0.0  4.549308e+02
min    10001.000000   40.546253  ...                        0.0  4.018913e+06
25%    10455.000000   40.667522  ...                        0.0  4.020936e+06
50%    11213.000000   40.722930  ...                        0.0  4.021282e+06
75%    11364.000000   40.767765  ...                        0.0  4.021632e+06
max    11694.000000   40.904243  ...                        0.0  4.021915e+06

[8 rows x 12 columns]

In [ ]:
import boto3

In [ ]:
df['BOROUGH'].value_counts()

QUEENS           227
BROOKLYN         199
MANHATTAN        123
BRONX             93
STATEN ISLAND     18
Name: BOROUGH, dtype: int64

In [ ]:
df.head()

         DATE  TIME  ... VEHICLE TYPE CODE 4  VEHICLE TYPE CODE 5
0  11/16/2018  0:10  ...                 NaN                  NaN
1  11/16/2018  0:40  ...                 NaN                  NaN
2  11/16/2018  0:45  ...                 NaN                  NaN
3  11/16/2018  1:00  ...                 NaN                  NaN
4  11/16/2018  1:00  ...                 NaN                  NaN

[5 rows x 29 columns]

In [ ]:
s3 = boto3.resource('s3', aws_secret_access_key='XBab/aHn1reHUTBMbGOosDDqtwQub8ncgudU8Nr7', aws_access_key_id='AKIA4RIJDBKAPEYS76UQ', region_name='eu-central-1')
my_bucket = s3.Bucket('python-skill-ex')
for my_bucket_object in my_bucket.objects.all():
    print(my_bucket_object)

In [ ]:
df.to_parquet(partition_cols='DATE', path='./output.parquet/')

In [ ]:
!ls

nypd-motor-vehicle-collisions.csv  output.parquet  sample_data

In [ ]:
!cd output.parquet

In [ ]:
!ls

nypd-motor-vehicle-collisions.csv  output.parquet  sample_data

In [ ]:
!ls ./output.parquet/

'DATE=11'		    'DATE=2018-11-14 00:00:00'
'DATE=2018-11-09 00:00:00'  'DATE=2018-11-15 00:00:00'
'DATE=2018-11-13 00:00:00'  'DATE=2018-11-16 00:00:00'

In [ ]:
df['DATE'] = pd.to_datetime(df['DATE'])

In [ ]:
!ls ./output.parquet/DATE\=2018-11-09\ 00\:00\:00

3edb506ccde24d3d91c8b9fe91a56b2a.parquet

In [ ]:
s3_key = '3edb506ccde24d3d91c8b9fe91a56b2a.parquet'

In [ ]:
my_bucket.upload_file('./output.parquet/DATE=2018-11-09/3edb506ccde24d3d91c8b9fe91a56b2a.parquet', s3_key)

S3UploadFailedError: ignored

In [ ]:
!cd output.parquet/

In [ ]:
!pwd

/content

In [ ]:
my_bucket.upload_file('./output.parquet/.')

TypeError: ignored

In [ ]:
!mv ./output.parquet/DATE\=2018-11-09\ 00\:00\:00 ./output.parquet/DATE=2018-11-09

In [ ]:
 s3_client = boto3.client('s3',aws_secret_access_key='XBab/aHn1reHUTBMbGOosDDqtwQub8ncgudU8Nr7', aws_access_key_id='AKIA4RIJDBKAPEYS76UQ', region_name='eu-central-1')
 response = s3_client.upload_file('./output.parquet/DATE=2018-11-09/3edb506ccde24d3d91c8b9fe91a56b2a.parquet', 'python-skill-ex', s3_key)

In [ ]:
import numpy as np

np.count_nonzero(df['ZIP CODE'].isna()) / len(df)

0.33933933933933935

In [ ]:
df['BOROUGH'].value_counts()

QUEENS           227
BROOKLYN         199
MANHATTAN        123
BRONX             93
STATEN ISLAND     18
Name: BOROUGH, dtype: int64

In [ ]:
df.groupby(['DATE','BOROUGH']).count().reset_index()

         DATE        BOROUGH  ...  VEHICLE TYPE CODE 4  VEHICLE TYPE CODE 5
0  2018-11-13          BRONX  ...                    0                    0
1  2018-11-13       BROOKLYN  ...                    0                    0
2  2018-11-13      MANHATTAN  ...                    0                    0
3  2018-11-13         QUEENS  ...                    0                    0
4  2018-11-13  STATEN ISLAND  ...                    0                    0
5  2018-11-14          BRONX  ...                    0                    0
6  2018-11-14       BROOKLYN  ...                    0                    0
7  2018-11-14      MANHATTAN  ...                    2                    0
8  2018-11-14         QUEENS  ...                    1                    1
9  2018-11-14  STATEN ISLAND  ...                    0                    0
10 2018-11-15          BRONX  ...                    0                    0
11 2018-11-15       BROOKLYN  ...                    0                    0
12 2018-11-15      MANHATTAN  ...                    2                    0
13 2018-11-15         QUEENS  ...                    0                    0
14 2018-11-15  STATEN ISLAND  ...                    0                    0
15 2018-11-16          BRONX  ...                    0                    0
16 2018-11-16       BROOKLYN  ...                    0                    0
17 2018-11-16      MANHATTAN  ...                    0                    0
18 2018-11-16         QUEENS  ...                    0                    0

[19 rows x 29 columns]